*
{
  margin: 0;
  outline: none;
  padding: 0;
}
html
{
  height: 100%;
  width: 100%;
}
body
{
  font-family: sans-serif;
  height: 100%;
  width: 100%;
}
.tasks
{
  counter-reset: x;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.task
{
  height: 100%;
  list-style-type: none;
  position: relative;
}
.task:before
{
  content: 'Task #' counter(x);
  counter-increment: x;
  left: 5px;
  position: absolute;
  top: 5px;
}
.task:not(:last-of-type)
{
  border-bottom: solid 1px silver;
}
.task-1
{
}
.task-2
{
}
.task-3
{
}
.task-1 button
{
  background-color: yellow;
  border: solid 1px gray;
  border-radius: 5px;
  box-shadow: 0 0 1px rgba(0,0,0,0.5);
  cursor: pointer;
  display: block;
  height: 40px;
  margin: 0 auto;
  position: relative;
  top: calc(50% - 20px);
  top: -webkit-calc(50% - 20px);
  transition: all 2s;
  width: 200px;
}
.task-1 button:hover
{
  background-color: green;
  color: white;
}
.task-1 button:active
{
  background-color: brown;
  color: white;
}
.task-2 div
{
  background-color: black;
  color: white;
  cursor: default;
  font-size: 14px;
  height: 32px;
  left: -800px;
  padding: 50px 20px 50px 820px;
  position: relative;
  top: calc(50% - 66px);
  top: -webkit-calc(50% - 66px);
  transition: left 1s;
  width: 200px;
}
.task-2 div:hover
{
  left: 0;
}
.task-3
{
  overflow: hidden;
  perspective: 100px;
}
.task-3 .road
{
  background: #404040 url('img/road.png') repeat-x scroll left center;
  background-size: 256px 50px;
  display: block;
  height: 50px;
  left: 5%;
  margin: 0 auto;
  position: absolute;
  top: calc(50% + 5px);
  top: -webkit-calc(50% + 5px);
  transform: rotateX(30deg);
  transform-style: preserve-3d;
  width: 90%;
}
@keyframes car
{
  from {left: 20px}
  to {left: calc(100% - 287px)}
}
@keyframes wheel
{
  from {transform: rotate(0deg)}
  to {transform: rotate(360deg)} /* угол поворота колёс вычисляется в animation.js */
}
@keyframes car-back
{
  from {left: calc(100% - 287px)}
  to {left: calc(50% - 134px)}
}
@keyframes wheel-back
{
  from {transform: rotate(360deg)} /* угол поворота колёс вычисляется в animation.js */
  to {transform: rotate(180deg)} /* угол поворота колёс вычисляется в animation.js */
}
.task-3 .car
{
  -webkit-animation: car 15s ease-in-out 2s forwards;
  animation: car 15s ease-in-out 2s forwards;
  background: transparent url('img/car.png') no-repeat scroll center;
  background-size: 100%;
  height: 93px;
  left: 20px;
  position: absolute;
  top: calc(50% - 47px);
  top: -webkit-calc(50% - 47px);
  width: 267px;
}
.car-back
{
  -webkit-animation: car-back 7.5s ease-in-out forwards running !important;
  animation: car-back 7.5s ease-in-out forwards running !important;
}
.car-back .wheel
{
  -webkit-animation: wheel-back 7.5s ease-in-out forwards running !important;
  animation: wheel-back 7.5s ease-in-out forwards running !important;
}
.task-3 .wheel
{
  -webkit-animation: wheel 15s ease-in-out 2s forwards;
  animation: wheel 15s ease-in-out 2s forwards;
  background: transparent none no-repeat scroll center;
  background-size: 100%;
  height: 35px;
  position: absolute;
  top: 54px;
  width: 35px;
}
.task-3 .car .wheel--front
{
  background-image: url('img/wheel-front.png');
  left: 202px;
}
.task-3 .car .wheel--rear
{
  background-image: url('img/wheel-read.png');
  left: 26px;
}
.car:hover, .car:hover .wheel
{
  -webkit-animation-play-state: paused !important;
  animation-play-state: paused !important;
}